<main>

    <div class="px-4 py-5">

        <div class="row mb-5 text-center">
            <div class="col-md-12"><h1>Html converter</h1></div>
        </div>

        <ul ngbNav #nav="ngbNav" class="nav-tabs mb-4">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Converter</a>
                <ng-template ngbNavContent>
                    <converter></converter>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Supported characters</a>
                <ng-template ngbNavContent>
                    <supported-characters></supported-characters>
                </ng-template>
            </li>
        </ul>
          
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</main>