<div class="converter">
            
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating">
                <textarea class="form-control" 
                          name="html"
                          id="htmlTextArea"
                          (change)="onHtmlContentChange($event)"
                          (keyup)="onHtmlContentChange($event)"></textarea>
                <label for="htmlTextArea">HTML</label>
              </div>
        </div>
        <div class="col-md-6">
            <pre><code>{{convertedContent}}</code></pre>
        </div>

    </div>

</div>